-- 첨부파일 관리를 위한 MenuAttachments 테이블 생성
CREATE TABLE public."MenuAttachments" (
    id bigint generated by default as identity primary key,
    "MenuId" text not null,
    file_name text not null,
    storage_path text not null,
    file_size bigint,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- RLS (Row Level Security) 활성화
ALTER TABLE public."MenuAttachments" ENABLE ROW LEVEL SECURITY;

-- 누구나 데이터 조회 가능하도록 허용
CREATE POLICY "Enable read access for all users" 
ON public."MenuAttachments" FOR SELECT USING (true);

-- 누구나 데이터 추가 가능하도록 허용
CREATE POLICY "Enable insert access for all users" 
ON public."MenuAttachments" FOR INSERT WITH CHECK (true);

-- 누구나 데이터 삭제 가능하도록 허용
CREATE POLICY "Enable delete access for all users" 
ON public."MenuAttachments" FOR DELETE USING (true);

